.section-header {
  text-align: center;
}
.section-header .section-title {
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.section-header .line {
  width: 60px;
  height: 5px;
  background-color: #6195ff;
  display: block;
  margin: 0 auto 70px auto;
}
